@import "../../../App.scss";

.payment-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  align-self: center;
  button {
    width: 100%;
  }
}

.payment-message {
  color: rgb(105, 115, 134);
  font-size: 16px;
  line-height: 20px;
  padding-top: 12px;
  text-align: center;
}
