@import "../../../App.scss";

.button {
  padding: 1.5rem 3rem;
  border: none;
  background-color: $primary;
  font-size: 1.3rem;
  font-weight: $bold;
  color: $white;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  width: 100%;
}

@include respond-above(sm) {
  .button {
    width: fit-content;
    align-self: flex-end;
  }
}

@include respond-above(lg) {
  .button:hover {
    background-color: $lightPrimary;
    cursor: pointer;
  }
}
