@import "../../../App.scss";

.background {
  background-color: $black;
  padding: 3.2rem 0;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: $containerMaxWidth;
  margin: 0 auto;
}

@include respond-above(md) {
  .container {
    justify-content: start;
  }
}
