@import "../../../App.scss";

.container {
  background-color: $white;
  border-radius: 0.8rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: flex-start;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  max-width: 70rem;
  @include box-shadow();
  animation: formIntro 0.5s ease-in-out;
}

.links-container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 100%;
}

.link {
  font-size: 1.5rem;
  font-weight: $bold;
  color: $primary;
}

@include respond-above(sm) {
  .links-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

@keyframes formIntro {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
