@import "../../../App.scss";

.number-input {
  background-color: rgba($color: $primary, $alpha: 0.1);
  border: none;
  font-size: 1.4rem;
  text-align: center;
  color: $primary;
  font-weight: $bold;
  &:focus {
    outline: none;
  }
}

.number-input-plus,
.number-input-minus {
  font-size: 1.3rem;
  stroke-width: 10rem;
  stroke: rgba($color: $primary, $alpha: 0.45);
  fill: rgba($color: $primary, $alpha: 0.45);
  height: 100%;
}

.number-input-container {
  position: relative;
  width: fit-content;

  .number-input {
    padding: 1.5rem 3rem;
    width: 10rem;
  }

  .number-input-plus,
  .number-input-minus {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .number-input-minus {
    right: 1.5rem;
  }

  .number-input-plus {
    left: 1.5rem;
  }
}

.number-input-container-vertical {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: relative;
  .number-input {
    width: 4.5rem;
    height: 10rem;
  }
  .number-input-plus,
  .number-input-minus {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .number-input-minus {
    top: 2.8rem;
  }

  .number-input-plus {
    bottom: 2.8rem;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
  margin: 0;
}
