html {
  font-size: 62.5%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: $font;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $lightGray;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@each $heading, $size, $lineSpace, $charSpace in $headingsVariables {
  #{$heading} {
    font-size: $size;
    line-height: $lineSpace;
    letter-spacing: $charSpace;
    color: $black;
    text-transform: uppercase;
    margin: 0;
  }
}

a {
  text-decoration: none;
}
